<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Reliable database for FMCG sourcing</title>

  <!-- Bootstrap core CSS -->
  <link href={{ url_for('static', filename="vendor/bootstrap/css/bootstrap.min.css") }} rel="stylesheet">

  <!-- Custom fonts -->
  <link href={{ url_for('static', filename="vendor/fontawesome-free/css/all.min.css") }} rel="stylesheet">

  <link href={{ url_for('static', filename="vendor/simple-line-icons/css/simple-line-icons.css") }} rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this templates -->
  <link href={{ url_for('static', filename="css/vendor_signup.css") }} rel="stylesheet">

  <!-- overiding some default css -->
  {% block css %}

  <style media="screen">

      .card-signin .card-img-left {
      width: 60%;
      background: scroll center url(https://images.pexels.com/photos/16513/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500);
      background-size: cover;
    }

  </style>


  {% endblock %}



</head>

  <!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

<body>
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex">

           <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body">

          <!-- render flashing messages -->
          {% with messages = get_flashed_messages() %}

          {% if messages %}

            {% for message in messages %}

            <div class="alert alert-success text-center" role="alert">
                {{ message }}
            </div>

            {% endfor %}

          {% endif %}

          {% endwith %}

          <h5 class="card-title text-center">Register as a vendor and grow your international B2B sales</h5>
          <form class="form-signin" method="POST" enctype="multipart/form-data">

            {{ form.hidden_tag() }}


            <div class="form-label-group">
              {{ form.full_name(class="form-control", placeholder="Full Name") }}
              <label for="full_name">Full Name</label>
            </div>

            <div class="form-label-group">
              {{ form.company_name(class="form-control", placeholder="Company Name") }}
              <label for="company_name">Company Name</label>
            </div>

            <div class="form-label-group">
              {{ form.email(class="form-control", placeholder="Email Address") }}
              <label for="email">Email address</label>
            </div>

            <p>
              {{ form.country.label() }}
              {{ form.country(class="form-control") }}
            </p>

            <p>
              <input type='file' class='form-control-file' name='file' required>
              <label for="file">Upload your business registration certificate</label>

            </p>

            <p>
              <a href="#" data-toggle="modal" data-target="#disclaimer">Disclaimer</a>
              <div class="modal fade" id="disclaimer" tabindex="-1" role="dialog" aria-labelledby="disclaimerScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                  <div class="modal-content">

                    <div class="modal-body">
                      To protect both buyers and vendors in our platform, we require you to submit a business registration document to verify your business identity when you sign up. 
                      We promise to keep your data secure and safe. Thanks for placing your trust in us.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">I have read this</button>
                    </div>
                  </div>
                </div>
              </div>
            </p>

            <hr>

            <div class="form-label-group">
              {{ form.password(class="form-control", placeholder="Password") }}
              <label for="password">Password</label>
            </div>

            <div class="form-label-group">
              {{ form.password2(class="form-control", placeholder="Password") }}
              <label for="password2">Confirm password</label>
            </div>

            {{ form.submit(class="btn btn-lg btn-primary btn-block text-uppercase") }}

            <!-- <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign up</button> -->
            <a class="d-block text-center mt-2 small" href={{ url_for('vendor_signin') }}>Sign In</a>
            <hr class="my-4">


          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src={{ url_for('static', filename="vendor/jquery/jquery.min.js") }}></script>

<script src={{ url_for('static', filename="vendor/bootstrap/js/bootstrap.bundle.min.js") }}></script>

</body>

</html>
