{% extends "users/base.html" %}


<!-- custom css for this page -->
{% block css %}

  <style media="screen">


    #settingsForm{
      width: 50%;
    }

    .tax-group-2{
      display:none;
    }


  </style>


{% endblock %}



{% block topbar %}


<h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>


{% endblock %}



{% block content %}

      <!-- render flashing messages -->
      {% with messages = get_flashed_messages() %}

      {% if messages %}

        {% for message in messages %}

        <div class="alert alert-success text-center" role="alert">
            {{ message }}
        </div>

        {% endfor %}

      {% endif %}

      {% endwith %}

  <!-- Begin Page Content -->
  <div class="container-fluid">


    <form class="form" method="POST" enctype="multipart/form-data" id="settingsForm">

      {{ form.hidden_tag() }}


    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">

          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-basic" role="tab" aria-controls="nav-home" aria-selected="true">
            Business Information
          </a>

          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-financial-tax" role="tab" aria-controls="nav-profile" aria-selected="false">
            Tax & Billings
          </a>

        </div>
    </nav>


    <div class="tab-content" id="nav-tabContent">

          <div class="tab-pane fade show active" id="nav-basic" role="tabpanel" aria-labelledby="nav-home-tab">

            <div class="form-label-group">
              {{ form.company_name.label }}
              {{ form.company_name(class="form-control", placeholder=role + " company name" ) }}
            </div>

            <div class="form-label-group">
              {{ form.email.label }}
              {{ form.email(class="form-control", placeholder="Enter " + role + " email") }}
            </div>

            <div class="form-label-group">
              {{ form.office_phone.label }}
              {{ form.office_phone(class="form-control", placeholder="Enter " + role + " phone no") }}
            </div>

            <div class="form-label-group">
              {{ form.address.label }}
              {{ form.address(class="form-control", placeholder="Enter " + role +" address") }}
            </div>

            <div class="form-label-group">
              {{ form.city.label }}
              {{ form.city(class="form-control", placeholder="Enter " + role +" city") }}
            </div>

            <div class="form-label-group">
              {{ form.state_or_province.label }}
              {{ form.state_or_province(class="form-control", placeholder=role + " city") }}
            </div>

            <div class="form-label-group">
              {{ form.zip_code.label }}
              {{ form.zip_code(class="form-control", placeholder=role + " zip code") }}
            </div>

            <div class="form-label-group">
              {{ form.country.label }}
              {{ form.country(class="form-control") }}
            </div>

            <hr>



          </div>

          <div class="tab-pane fade" id="nav-financial-tax" role="tabpanel" aria-labelledby="nav-profile-tab">

            <!-- some ternary operators in this helper text -->
            <p>
              The following fields are optional and will appear on the
              {{"invoices" if role == "customer" else "Purchase Orders"}}
              you issued to your {{role}}s.

              You will be able to adjust this later when creating an
              {{"invoice" if role == "customer" else "Purchase Order"}}
            </p>

            <div class="form-label-group">
              {{ form.tax_id.label }}
              {{ form.tax_id(class="form-control", placeholder="") }}
            </div>

            <br>

            <h6>Tax Settings</h6>
            <br>

            <div class="tax-group-1">


              <div class="form-label-group">

                {{ form.tax_rate1.label }}
                {{ form.tax_rate1(class="form-control", placeholder="") }}%

              </div>


            </div>


            <div class="tax-group-2" id="tax-group-2">


              <div class="form-label-group">
                {{ form.tax_rate2.label }}
                {{ form.tax_rate2(class="form-control", placeholder="") }}%
              </div>

            </div>

            <br>

            <button type="button" name="button" class="btn btn-primary add-tax-button" id="addTaxBtn">
              <i class="fas fa-funnel-dollar"></i>
              Add a new tax
            </button>

          </div>

    </div>


    <br>

    {{ form.submit(class="btn btn-primary") }}


    </form>




  </div>

  <br>



  {% block scripts %}


  <script src={{ url_for('static', filename="js/company_settings.js") }}></script>



  {% endblock %}


{% endblock %}
