{% extends "users/base.html" %}


{% block css %}


<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css"> -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">


{% endblock %}

{% block topbar %}


<h1 class="h3 mb-0 text-gray-800">Shipments</h1>


{% endblock %}



{% block content %}

    <!-- render flashing messages -->
    {% with messages = get_flashed_messages() %}

    {% if messages %}

      {% for message in messages %}

      <div class="alert alert-success text-center" role="alert">
          {{ message }}
      </div>

      {% endfor %}

    {% endif %}

    {% endwith %}


<div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">

          <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-anchor"></i>
            New Shipment
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">
              <i class="fas fa-ship"></i>
              SEA
            </a>

            <a class="dropdown-item" href="#">
              <i class="fas fa-plane"></i>
              AIR
            </a>

            <a class="dropdown-item" href="#">
              <i class="fas fa-truck-monster"></i>
              ROAD
            </a>

          </div>

        </div>

        <div class="card shadow mb-4">

            <div class="card-body">
              <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

                <div class="row">
                  <div class="col-sm-12">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">

                    <thead>
                      <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 60px;">
                          # ID
                        </th>

                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 73px;">
                          Dated
                        </th>

                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 73px;">
                          Due
                        </th>

                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 50px;">
                          Customer
                        </th>

                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 50px;">
                          Status
                        </th>

                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 50px;">
                          Total
                        </th>

                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 68px;">
                          Action
                        </th>

                      </tr>
                    </thead>

                  <tbody>

                  {% for invoice in invoices %}
                  <tr role="row" class="odd">
                      <td class="sorting_1">{{ invoice.invoice_number }}</td>
                      <td>{{invoice.timeCreated}}</td>

                      <td>{{ invoice.dueUntil }}</td>
                      <td>{{ invoice.receiver }}</td>


                      <td>
                        <span class="badge badge-{{ status2badge.get(invoice.status) }}">
                          {{ invoice.status }}
                        </span>
                      </td>

                      <td>{{ invoice.total }}</td>

                      <td>
                        <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action</a>
                        <br>
                        <div class="dropdown-menu">

                          <a class="dropdown-item update-price-btn" href={{ url_for('view_invoice', invoice_number=invoice.invoice_number) }} id="view-{{ invoice.invoice_number }}">
                            <i class="fas fa-eye"></i>
                            View
                          </a>

                          <a class="dropdown-item update-price-btn" href={{ url_for('edit_invoice', invoice_number=invoice.invoice_number) }} id="edit-{{ invoice.invoice_number }}">
                            <i class="fas fa-edit"></i>
                            Edit
                          </a>

                          <a class="dropdown-item update-price-btn" href="#" id="duplicate-{{ invoice.invoice_number }}">
                            <i class="fas fa-copy"></i>
                            Duplicate
                          </a>

                          <a class="dropdown-item update-price-btn" href="#" id="delete-{{ invoice.invoice_number }}">
                            <i class="far fa-trash-alt"></i>
                            Delete
                          </a>

                          <a class="dropdown-item update-price-btn" href={{ url_for('export_invoice', invoice_number=invoice.invoice_number) }} id="export-{{ invoice.invoice_number }}">
                            <i class="fas fa-download"></i>
                            Export PDF
                          </a>

                        </div>
                      </td>


                    </tr>
                    {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

</div>



{% endblock %}



{% block scripts %}

<script type="text/javascript">
    // sorting the dated column in descending order
    $(document).ready(function() {
      $('#dataTable').DataTable({
        'order':[[0, "desc"]]
      });
    } );
</script>


<!-- Page level plugins -->
<script src={{ url_for('static', filename="vendor/datatables/jquery.dataTables.min.js") }} charset="utf-8"></script>


<script src={{ url_for('static', filename="vendor/datatables/dataTables.bootstrap4.min.js") }} charset="utf-8"></script>


<!-- Page level custom scripts  activate the datatable functionality -->
<script src={{ url_for('static', filename="js/demo/datatables-demo.js") }}></script>



{% endblock %}
